In [2]:
#拉格朗日插值代码
import pandas as pd #导入数据分析库Pandas
from scipy.interpolate import lagrange #导入拉格朗日插值函数

In [66]:
inputfile = '../data/catering_sale.xls' #销量数据路径
outputfile = '../tmp/sales.xls' #输出数据路径

data = pd.read_excel(inputfile) #读入数据
data[u'销量'][(data[u'销量'] < 400) | (data[u'销量'] > 5000)] = None #过滤异常值，将其变为空值

/home/feifei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [67]:
#自定义列向量插值函数
#s为列向量，n为被插值的位置，k为取前后的数据个数，默认为5
def ployinterp_column(s, n, k=5):
    y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
    print(y)
    print('====')
    y = y[y.notnull()] #剔除空值
    print(y)
    return lagrange(y.index, list(y))(n) #插值并返回插值结果

In [69]:
s=data['销量']
n=0
k=5

In [70]:
 y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数

In [71]:
y

-5       NaN
-4       NaN
-3       NaN
-2       NaN
-1       NaN
 1    2618.2
 2    2608.4
 3    2651.9
 4    3442.1
 5    3393.1
Name: 销量, dtype: float64

In [74]:
y=y[y.notnull()]

In [75]:
lag=lagrange(y.index, list(y))

In [77]:
lag[n]

-291.4000000000001

In [68]:
#逐个元素判断是否需要插值
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]: #如果为空即插值。
            print(i,j)
            data[i][j] = ployinterp_column(data[i], j)
            #print('yyyyyyyyyy')

data.to_excel(outputfile) #输出结果，写入文件

销量 0
-5       NaN
-4       NaN
-3       NaN
-2       NaN
-1       NaN
 1    2618.2
 2    2608.4
 3    2651.9
 4    3442.1
 5    3393.1
Name: 销量, dtype: float64
====
1    2618.2
2    2608.4
3    2651.9
4    3442.1
5    3393.1
Name: 销量, dtype: float64
销量 8
3     2651.9
4     3442.1
5     3393.1
6     3136.6
7     3744.1
9     4060.3
10    3614.7
11    3295.5
12    2332.1
13    2699.3
Name: 销量, dtype: float64
====
3     2651.9
4     3442.1
5     3393.1
6     3136.6
7     3744.1
9     4060.3
10    3614.7
11    3295.5
12    2332.1
13    2699.3
Name: 销量, dtype: float64
销量 14
9     4060.3
10    3614.7
11    3295.5
12    2332.1
13    2699.3
15    3036.8
16     865.0
17    3014.3
18    2742.8
19    2173.5
Name: 销量, dtype: float64
====
9     4060.3
10    3614.7
11    3295.5
12    2332.1
13    2699.3
15    3036.8
16     865.0
17    3014.3
18    2742.8
19    2173.5
Name: 销量, dtype: float64
销量 103
98     2839.2
99     2360.9
100    2158.5
101    2005.5
102    3236.4
104    2452.6
105    2265.0
106    2566.1
107    2527.2
108    2326.5
Name: 销量, dtype: float64
====
98     2839.2
99     2360.9
100    2158.5
101    2005.5
102    3236.4
104    2452.6
105    2265.0
106    2566.1
107    2527.2
108    2326.5
Name: 销量, dtype: float64
销量 110
105    2265.0
106    2566.1
107    2527.2
108    2326.5
109    2941.9
111    2520.9
112    2446.2
113    2549.4
114    2449.3
115    2162.5
Name: 销量, dtype: float64
====
105    2265.0
106    2566.1
107    2527.2
108    2326.5
109    2941.9
111    2520.9
112    2446.2
113    2549.4
114    2449.3
115    2162.5
Name: 销量, dtype: float64
销量 144
139    3193.4
140    3075.4
141    2847.6
142    2311.4
143    2327.3
145    2616.6
146    2620.2
147    2616.4
148    2655.8
149    2310.7
Name: 销量, dtype: float64
====
139    3193.4
140    3075.4
141    2847.6
142    2311.4
143    2327.3
145    2616.6
146    2620.2
147    2616.4
148    2655.8
149    2310.7
Name: 销量, dtype: float64

/home/feifei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pd.cut()